.dashboard-page {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.sorting-block {
  width: 100%;
  padding-bottom: 20px;

  &__button-block {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
  }

}

.task-list {
  flex: 1;
}
