<div class="dashboard-page">
  <app-create-task-form/>
  <div class="task-list">
    <div>
      <button (click)="sortOption.next('executors')">executors</button>
      <button (click)="sortOption.next('status')">status</button>
      <button (click)="sortOption.next('deadline')">deadline</button>
      <button (click)="sortOption.next('')">Сбросить</button>
      <button (click)="filterOptions.next(newfilt)">Не начатые</button>
      <button (click)="filterOptions.next({})">Отбой</button>
    </div>


    @for (task of filteredAndSortedTasks; track task) {
      <app-task-item [task]="task"/>
    }
  </div>
</div>
