.task-item {
  min-height: 50px;
  padding: 6px 20px;
  border: darkred solid 2px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


 .done {
   background: #c5ffd1;
 }

 .in-progress {
   background: #cae1ff;
 }
